Bookmark Manager
<form action="/bookmarks" method="post">
  <label for="bookmark">
    Please fill in your bookmark:
    <input type="text" name="bookmark">
  </label>
    <input type="submit" value="Add">
</form>